.chat-container {
    height: calc(100vh - (var(--header-height) + var(--content-padding)));
    display: flex;
    flex-direction: column;
}
.chat {
    flex-grow: 1;
}
.form {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}
%borders {
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: filter .3s, border .3s;
    &:focus, &:focus-visible, &:focus-within, &:active {
        outline: none;
        filter: drop-shadow(3px 1px 4px #aaa);
    }
}
.input {
    @extend %borders;
    flex-grow: 1;
    background-color: var(--white);
    // line-height: 2rem;
    // height: 3rem;
    // padding: .5rem;
}
.send-message {
    @extend %borders;
    margin-left: 1rem;
    background-color: var(--white);
    // 
}